@import '@taiga-ui/core/styles/taiga-ui-local.less';

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.title {
  text-align: center;
  justify-self: center;
}


.tiles {
  gap: 1rem;
  grid-auto-rows: minmax(6.25rem, auto);
}

.tile::before {
  content: 'Drop here';
  display: flex;
  block-size: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--tui-border-normal);
  border-radius: var(--tui-radius-l);
  border: 2px dashed var(--tui-border-normal);
  transition: all .3s;
}

tui-tiles .tile::before {
  opacity: 0;
}

tui-tiles._dragged .tile::before {
  opacity: 1;
}


.handle {
  transition: all .3s;
  position: absolute;
  right: 0.75rem;
  top: 1rem;
  opacity: 0;
  cursor: move;

  tui-tiles:not(._dragged) tui-tile:hover &,
  tui-tile._dragged & {
    opacity: 0.7;
  }
}

.header__input {
  max-width: 300px;
  width: 100%;
  justify-self: end;
}
