<tui-root [attr.tuiTheme]="darkMode() ? 'dark' : null">
  <main class="tui-space_top-4" tuiAppearance="floating" tuiCardLarge="normal">

    <header tuiHeader="h2">
      <h1 tuiTitle>
        Weather App
      </h1>

      <div tuiAccessories>
        <span tuiSubtitle>Dark theme:</span>
        <input
          (ngModelChange)="darkMode.set(!darkMode())"
          [ngModel]="darkMode()"
          tuiSwitch
          type="checkbox"
        />
      </div>
    </header>

    <app-topbar />

    <router-outlet></router-outlet>

  </main>
</tui-root>
