.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 20rem;
}

.header {
  position: sticky;
}

.city {
  padding: .5rem 0;
}

.header__input {
  display: block !important;
  width: 100%;
}

.loader {
  margin: 0 auto;
}
