<button
  (click)="open.set(true)"
  appearance="textfield"
  iconStart="@tui.menu"
  tuiButton
  tuiButtonVertical
  type="button"
>
</button>

<tui-drawer
  (click.self)="onClose()"
  *tuiPopup="open()"
  [overlay]="true"
  class="drawer"
  direction="left"
>
  <header class="header">
    <h2 tuiHeader>
      <div tuiTitle>Followed cities</div>
      <div tuiAccessories>
        <button
          (click)="onClose()"
          tuiButton
          type="button"
        >
          <tui-icon
            icon="@tui.x"
          />
        </button>
      </div>
    </h2>

    <tui-combo-box
      [(ngModel)]="searchCityInput"
      (ngModelChange)="onChangeSearchCityInput(searchCityInput)"
      [tuiTextfieldCleaner]="false"
      class="header__input"
      tuiDropdownMobile
    >
      Search city
      <input [formControl]="searchControl" (input)="onChange(extractValueFromEvent($event))" type="text"
             tuiTextfieldLegacy>
      <tui-data-list-wrapper
        *tuiDataList
        [items]="cities() | tuiFilterByInput"
        [emptyContent]="citiesLoading() ? loader : 'No items found'"
      />
    </tui-combo-box>
  </header>
  @for (city of cityState.followedCities; track city) {
    <div tuiCell class="city">
      <div tuiTitle>
        {{ city }}
      </div>
      <button
        tuiButton
        type="button"
        appearance="primary"
        (click)="cityState.unfollowCity(city)"
      >
        <tui-icon
          icon="@tui.trash"
        />
      </button>
    </div>
  }
</tui-drawer>


<ng-template #loader>
  <tui-loader class="loader" />
</ng-template>
