router-outlet {
  display: none;
}

[tuiCardLarge][data-space]:not([tuiCell],[tuiHeader],[tuiForm]) > :last-child:not([tuiCell]) {
  margin-top: 0 !important;
}

app-home-page app-card-hours-forecast .t-label-x:nth-child(2) {
  color: var(--tui-status-info) !important;
}

app-home-page app-card-days-forecast .t-label-x:nth-child(1) {
  color: var(--tui-status-info) !important;
}

app-history-page app-card-days-forecast {
  height: 50vh;
}

