.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  justify-self: center;
}

.header__input {
  max-width: 300px;
  width: 100%;
  justify-self: end;
}
